{
  "plugins": [
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 1 android versions"
          ]
        },
        "useBuiltIns": true,
        "debug": false,
        "modules": false
      }
    ],
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "es2015"
        ],
        "react"
      ]
    }
  }
}