{
  "presets": [
    [
      "env",
      {
        "targets": { "browsers": ["last 1 android versions"] },        
        "useBuiltIns": true,
        "debug": true,
        "modules": false
      }
    ],
    "react",
    "es2015"
  ]
}